* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  letter-spacing: 0;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

h2 {
  font-size: 3em;
  font-weight: 900;
}

#main-container {
  position: relative;
  width: 80vw;
  margin: auto;
}

#header-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 8vh;
  font-weight: 700;
  color: #243e63;
  backdrop-filter: blur(0.5em);
  background-color: rgba(255, 255, 255, 0.6352941176);
}
#header-container .header-content {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
  margin-top: 1em;
}
#header-container .header-content #logo {
  display: flex;
  align-items: center;
}
#header-container .header-content #logo .logo-img {
  width: 2em;
}
#header-container .header-content #logo p {
  margin-left: 0.5em;
  font-weight: 900;
}
#header-container .header-content #navbar {
  display: flex;
}
#header-container .header-content #navbar .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-container .header-content #navbar .navigation li {
  margin-left: 3em;
}
#header-container .header-content #navbar .login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5em;
}
#header-container .header-content #navbar .login > li {
  margin-right: 3em;
}
#header-container .header-content #navbar .login .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 0.4em;
  padding: 0.8em 2.5em;
  border: 2px solid #6415ff;
  background-color: #6415ff;
  font-weight: 700;
}
#header-container .header-content #navbar .login .button a {
  color: white;
}
#header-container .header-content #navbar .burgerDisplay {
  display: none;
}

#purchase {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 29em;
  margin: 10em 0 15em;
}
#purchase .text-design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
#purchase .text-design .caption {
  font-weight: 500;
  color: #6415ff;
}
#purchase .text-design p {
  margin-top: 3em;
  width: 100%;
}
#purchase .text-design .text-underline {
  display: inline-block;
  width: fit-content;
  justify-self: center;
  background-color: #6415ff;
  padding: 0.1em 0.3em;
  transform: skew(-10deg);
  color: white;
}
#purchase .text-design .section-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
}
#purchase .text-design .section-buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 0.4em;
  padding: 0.8em 2.5em;
  border: 2px solid #6415ff;
  background-color: #6415ff;
  font-weight: 700;
}
#purchase .text-design .section-buttons .button a {
  color: white;
}
#purchase .text-design .section-buttons .player {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
#purchase .text-design .section-buttons .player img {
  width: 2.5em;
  margin-right: 1em;
}
#purchase .text-design .section-buttons .player span {
  font-size: 1em;
  color: #707f95;
  font-weight: 700;
}
#purchase .img-design {
  width: 50%;
  position: relative;
}
#purchase .img-design .menu {
  width: 100%;
  border-radius: 2em;
}
#purchase .img-design .decoration {
  position: absolute;
  width: 20%;
  right: -3em;
  bottom: -6em;
  z-index: -1;
}

#loyalty {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 29em;
  margin: 10em 0 15em;
}
#loyalty .text-design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
#loyalty .text-design .caption {
  font-weight: 500;
  color: #6415ff;
}
#loyalty .text-design p {
  margin-top: 3em;
  width: 100%;
}
#loyalty .text-design .text-underline {
  display: inline-block;
  width: fit-content;
  justify-self: center;
  background-color: #6415ff;
  padding: 0.1em 0.3em;
  transform: skew(-10deg);
  color: white;
}
#loyalty .text-design .section-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
}
#loyalty .text-design .section-buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 0.4em;
  padding: 0.8em 2.5em;
  border: 2px solid #6415ff;
  background-color: #6415ff;
  font-weight: 700;
}
#loyalty .text-design .section-buttons .button a {
  color: white;
}
#loyalty .text-design .section-buttons .player {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
#loyalty .text-design .section-buttons .player img {
  width: 2.5em;
  margin-right: 1em;
}
#loyalty .text-design .section-buttons .player span {
  font-size: 1em;
  color: #707f95;
  font-weight: 700;
}
#loyalty .img-design {
  width: 50%;
  position: relative;
}
#loyalty .img-design .menu {
  width: 100%;
  border-radius: 2em;
}
#loyalty .img-design .decoration {
  position: absolute;
  width: 20%;
  left: 40%;
  bottom: -7em;
  z-index: -1;
}

#prestation {
  width: 100%;
}
#prestation h2 {
  text-align: center;
}
#prestation h2 .underline {
  display: inline-block;
  width: fit-content;
  justify-self: center;
  background-color: #6415ff;
  padding: 0.1em 0.3em;
  transform: skew(-10deg);
  color: white;
}
#prestation .card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4em;
}
#prestation .card-container .card {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5em;
  text-align: center;
  transition: 0.5s;
}
#prestation .card-container .card img {
  background-color: #f7fafc;
  border-radius: 50%;
}
#prestation .card-container .card a {
  color: #6415ff;
  font-weight: 700;
}
#prestation .card-container .card * {
  margin-top: 1em;
}

#trademark {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 29em;
  margin: 10em 0 15em;
}
#trademark .text-design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
#trademark .text-design .caption {
  font-weight: 500;
  color: #6415ff;
}
#trademark .text-design p {
  margin-top: 3em;
  width: 100%;
}
#trademark .text-design .text-underline {
  display: inline-block;
  width: fit-content;
  justify-self: center;
  background-color: #6415ff;
  padding: 0.1em 0.3em;
  transform: skew(-10deg);
  color: white;
}
#trademark .text-design .section-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
}
#trademark .text-design .section-buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 0.4em;
  padding: 0.8em 2.5em;
  border: 2px solid #6415ff;
  background-color: #6415ff;
  font-weight: 700;
}
#trademark .text-design .section-buttons .button a {
  color: white;
}
#trademark .text-design .section-buttons .player {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
#trademark .text-design .section-buttons .player img {
  width: 2.5em;
  margin-right: 1em;
}
#trademark .text-design .section-buttons .player span {
  font-size: 1em;
  color: #707f95;
  font-weight: 700;
}
#trademark .img-design {
  width: 50%;
  position: relative;
}
#trademark .img-design .menu {
  width: 100%;
  border-radius: 2em;
}
#trademark .text-design .productivity {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  width: 70%;
}
#trademark .text-design .productivity p {
  margin-top: 0.25em;
}
#trademark .text-design p {
  margin-top: 1em;
}
#trademark .img-design .decoration {
  position: absolute;
  width: 20%;
  left: 40%;
  bottom: -7em;
  z-index: -1;
}

#footer-container {
  background-color: #edf2f7;
}
#footer-container .footer-info {
  width: 80vw;
  margin: auto;
  padding-top: 5em;
}
#footer-container .footer-info .top-footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#footer-container .footer-info .top-footer .about {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
#footer-container .footer-info .top-footer .about .footer-cardList {
  width: 25%;
  display: flex;
  flex-direction: column;
}
#footer-container .footer-info .top-footer .about .footer-cardList * {
  margin-top: 1em;
}
#footer-container .footer-info .top-footer .newsletter {
  width: 30%;
  display: flex;
  flex-direction: column;
}
#footer-container .footer-info .top-footer .newsletter .subscribe {
  display: flex;
}
#footer-container .footer-info .top-footer .newsletter .subscribe input {
  padding-right: 4em;
  margin: 1.2em 0 0;
  border-radius: 0.4em 0 0 0.4em;
  background-color: #e2e8f0;
}
#footer-container .footer-info .top-footer .newsletter .subscribe input:focus {
  border: 2px solid #6415ff;
}
#footer-container .footer-info .top-footer .newsletter .subscribe .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 0.4em;
  padding: 0.8em 2.5em;
  border: 2px solid #6415ff;
  background-color: #6415ff;
  font-weight: 700;
  border-radius: 0 0.4em 0.4em 0;
}
#footer-container .footer-info .top-footer .newsletter .subscribe .button a {
  color: white;
}
#footer-container .footer-info .top-footer .newsletter .subscribe .button a {
  margin-top: 0;
}
#footer-container .footer-info .top-footer .newsletter * {
  margin-top: 1em;
}
#footer-container .footer-info .legals {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  border-top: 1px solid #707f95;
  padding: 3em 0;
}
#footer-container .footer-info .legals .logo {
  display: flex;
  align-items: center;
  width: 20%;
}
#footer-container .footer-info .legals .logo .logo-img {
  width: 2em;
}
#footer-container .footer-info .legals .logo p {
  margin-left: 0.5em;
  font-weight: 900;
}
#footer-container .footer-info .legals .rights {
  width: 60%;
  text-align: center;
}
#footer-container .footer-info .legals .socials {
  display: flex;
  width: 20%;
  justify-content: flex-end;
}
#footer-container .footer-info .legals .socials img {
  width: 2.5em;
  margin-left: 1em;
  background-color: #1a212b;
  padding: 0.5em;
  border-radius: 50%;
}
#footer-container .footer-info .legals .socials img:hover {
  background-color: #4a5568;
}

.title:hover {
  color: #6415ff;
  cursor: pointer;
}

.link-purple:hover {
  border-bottom: 2px solid #6415ff;
  color: #6415ff;
  padding-bottom: 0.2em;
}

.link-neutral:hover {
  border-bottom: 2px solid #707f95;
  padding-bottom: 0.2em;
}

.button:hover {
  border: 2px solid #a0ccf0 !important;
  cursor: pointer;
}

.player:hover {
  filter: invert(18%) sepia(90%) saturate(7160%) hue-rotate(262deg) brightness(96%) contrast(112%) !important;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 768px) {
  #main-container {
    width: 95vw;
  }
  #purchase {
    flex-direction: column;
    justify-content: center;
    margin: 7.5em auto -3em;
    width: 90%;
  }
  #purchase .text-design {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  #purchase .text-design h2 {
    width: 70%;
    font-size: 1.25em;
  }
  #purchase .text-design p {
    font-size: 0.75em;
    width: 80%;
    margin: 0.5em;
  }
  #purchase .text-design .section-buttons {
    width: 100%;
    justify-content: center;
    margin-top: 1em;
  }
  #purchase .text-design .section-buttons .button {
    font-size: 0.6em;
    padding: 0.8em 1.5em;
  }
  #purchase .text-design .section-buttons .player img {
    width: 1.5em;
  }
  #purchase .text-design .section-buttons .player span {
    font-size: 0.6em;
  }
  #purchase .img-design {
    width: 100%;
    margin-top: 2em;
  }
  #purchase .img-design .decoration {
    position: absolute;
    width: 20%;
    right: -1em;
    bottom: -1em;
    z-index: -1;
    opacity: 0.5;
  }
  #loyalty {
    flex-direction: column;
    justify-content: center;
    margin: 7.5em auto -3em;
    width: 90%;
  }
  #loyalty .text-design {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  #loyalty .text-design h2 {
    width: 70%;
    font-size: 1.25em;
  }
  #loyalty .text-design p {
    font-size: 0.75em;
    width: 80%;
    margin: 0.5em;
  }
  #loyalty .text-design .section-buttons {
    width: 100%;
    justify-content: center;
    margin-top: 1em;
  }
  #loyalty .text-design .section-buttons .button {
    font-size: 0.6em;
    padding: 0.8em 1.5em;
  }
  #loyalty .text-design .section-buttons .player img {
    width: 1.5em;
  }
  #loyalty .text-design .section-buttons .player span {
    font-size: 0.6em;
  }
  #loyalty .img-design {
    width: 100%;
    margin-top: 2em;
  }
  #loyalty .text-design {
    margin-top: 2em;
  }
  #loyalty .img-design {
    width: 80%;
    margin: auto;
  }
  #loyalty .img-design .decoration {
    position: absolute;
    width: 20%;
    right: -1em;
    bottom: -1em;
    z-index: -1;
    opacity: 0.5;
  }
  #prestation {
    margin: 7.5em 0;
  }
  #prestation h2 {
    font-size: 1.75em;
  }
  #prestation .card-container {
    flex-direction: column;
    align-items: center;
  }
  #prestation .card-container .card {
    width: 50%;
  }
  #prestation .card-container .card img {
    width: 40%;
  }
  #prestation .card-container .card h3 {
    font-size: 1em;
  }
  #prestation .card-container .card p, #prestation .card-container .card a {
    font-size: 0.75em;
  }
  #trademark {
    flex-direction: column;
    justify-content: center;
    margin: 7.5em auto -3em;
    width: 90%;
    flex-direction: column-reverse;
  }
  #trademark .text-design {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  #trademark .text-design h2 {
    width: 70%;
    font-size: 1.25em;
  }
  #trademark .text-design p {
    font-size: 0.75em;
    width: 80%;
    margin: 0.5em;
  }
  #trademark .text-design .section-buttons {
    width: 100%;
    justify-content: center;
    margin-top: 1em;
  }
  #trademark .text-design .section-buttons .button {
    font-size: 0.6em;
    padding: 0.8em 1.5em;
  }
  #trademark .text-design .section-buttons .player img {
    width: 1.5em;
  }
  #trademark .text-design .section-buttons .player span {
    font-size: 0.6em;
  }
  #trademark .img-design {
    width: 100%;
    margin-top: 2em;
  }
  #trademark .text-design {
    margin-top: 2em;
  }
  #trademark .img-design {
    width: 90%;
    margin: auto;
  }
  #trademark .img-design .decoration {
    position: absolute;
    width: 20%;
    right: -1em;
    bottom: -1em;
    z-index: -1;
    opacity: 0.5;
  }
  #footer-container {
    margin-top: 7.5em;
  }
  #footer-container .footer-info {
    width: 90%;
    padding-top: 2.5em;
  }
  #footer-container .footer-info .top-footer {
    flex-direction: column;
  }
  #footer-container .footer-info .top-footer h4 {
    font-size: 0.75em;
  }
  #footer-container .footer-info .top-footer .about {
    width: 100%;
  }
  #footer-container .footer-info .top-footer .about .footer-cardList li {
    margin-top: 0.15em;
  }
  #footer-container .footer-info .top-footer .about .footer-cardList li a {
    font-size: 0.5em;
    font-weight: 700;
  }
  #footer-container .footer-info .top-footer .newsletter {
    width: 90%;
    text-align: center;
    margin: 2em auto 0;
  }
  #footer-container .footer-info .top-footer .newsletter p {
    font-size: 0.75em;
  }
  #footer-container .footer-info .top-footer .newsletter .subscribe {
    width: 80%;
    margin: auto;
  }
  #footer-container .footer-info .top-footer .newsletter .subscribe input {
    width: 70%;
    padding-right: 0;
    margin-top: 0.9em;
  }
  #footer-container .footer-info .top-footer .newsletter .subscribe .button {
    font-size: 0.75em;
  }
  #footer-container .footer-info .legals {
    flex-direction: column;
    width: 90%;
    padding: 1em 0;
  }
  #footer-container .footer-info .legals * {
    margin-top: 0.5em;
  }
  #footer-container .footer-info .legals .logo {
    width: 100%;
    justify-content: center;
  }
  #footer-container .footer-info .legals .rights {
    width: 100%;
    font-size: 0.75em;
  }
  #footer-container .footer-info .legals .socials {
    width: 100%;
    justify-content: center;
  }
  #footer-container .footer-info .legals .socials img {
    width: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
