.card-ctr {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-between;
    gap: 4em;
    
    .card {
        display: flex;
        flex-direction: column;
        background-color: $greyBG;
        border-radius: .5em;
        height: 25em;

        .top {
            position: relative;
            height: 100%;
            overflow: hidden;

            .img-ctr {
                display: flex;
                justify-items: center;
                align-items: center;

                .meal-img {
                    border-radius: .5em;
                    width: 400px;
                    display: block;
                }
            }

            .rate {
                position: absolute;
                bottom: 0;
                padding: .35em;
                margin: .5em;
                width: 6em;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $whiteBG;
                border-radius: 2em;


                img {
                    width: 1em;
                }

                p {
                    font-weight: 700;
                    margin-left: .30em;

                    span {
                        margin-left: .15em;
                        font-size: .8em;
                        font-weight: 300;
                        color: $details;
                    }
                }
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            padding: 0 1em;
            height: 50%;

            * {
                margin: .5em 0;
            }
        }
    }
}