#header-container {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 8vh;
    font-weight: 700;
    color: $text1;
    backdrop-filter: blur(.5em);
    background-color: #ffffffa2;

    .header-content {
        display: flex;
        justify-content: space-between;
        width: 80vw;
        margin: auto;
        margin-top: 1em;
    
        #logo {
            @include logo;
        }
    
        #navbar{
            display: flex;
    
            .navigation {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                li {
                    margin-left: 3em;
                }
    
    
            }
    
            .login {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: 5em;
            
                .button {
                    @include button;
                    margin-left: 3em;
                }
            }
    
            .burgerDisplay {
                display: none;
            }
        }
    
    }

}
