#header-container {

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
    font-weight: 700;
    color: $text1;

    #logo {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo-img {
            width: 2em;
        }

        p {
            margin-left: .5em;
            font-weight: 900;
        }
        
    }

    #navbar{
        display: flex;

        .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                margin-left: 3em;
            }


        }

        .login {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 5em;
        
            .button {
                @include button;
                margin-left: 3em;
                color: white;
            }
        }

        .burgerDisplay {
            display: none;
        }
    }
}
