#loyalty {
    @include section-builder;

    .img-design {

        .deco-dot {
            position: absolute;
            width: 20%;
            left: 40%;
            bottom: -7em;
            z-index: -1;
            opacity: .5;

        }
    }

}