#prestation {
    position: relative;
    width: 100%;

    h2 {
        text-align: center;

        .underline {
            @include underline;
        }
    }

    .card-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 4em;

        .card {
            width: 15%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 5em;
            text-align: center;
            transition: .5s;

            img {
                background-color: $circleBG;
                border-radius: 50%;
            }

            a {
                color: $violet;
                font-weight: 700;
            }

            * {
                margin-top: 1em;
            }
        }
    }

    .deco-blob {
        position: absolute;
        width: 20%;
        right: -21em;
        top: 14em;
        opacity: .2;
        z-index: -1;
    }
}