#purchase {

    @include section-builder;
    margin-top: 5em;

    .img-design {

        .decoration {
            position: absolute;
            width: 20%;
            right: -3em;
            bottom: -6em;
            z-index: -1;
            filter: invert(48%) sepia(30%) saturate(271%) hue-rotate(176deg) brightness(95%) contrast(92%);
        }
    }
}