#purchase {

    @include section-builder;

    .img-design {

        .decoration {
            position: absolute;
            width: 20%;
            right: -3em;
            bottom: -6em;
            z-index: -1;
            }
    }
}