#trademark {

    @include section-builder;


    .text-design {

        .productivity {
            margin-top: 1em;
            display: flex;
            justify-content: space-between;
            width: 70%;

            p {
                margin-top: .25em;
            }

        }

        p {
            margin-top: 1em;
        }
    }

    .img-design {

        .deco-dot {
            position: absolute;
            width: 20%;
            left: 40%;
            bottom: -7em;
            z-index: -1;
            opacity: .5;

        }
    }
}