@import url('<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap" rel="stylesheet">' );

// Charte Graphique

$inter: 'Inter', sans-serif;
$violet: #6415ff;
$text1: #243e63;
$text2: #e8eaee;